html {
  background-color: mediumseagreen;
  width: 100vw;
  height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  color: white;
}

body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
