@import "tailwindcss";

html {
  background-image: linear-gradient(to bottom right, #006d04, #000, #000, #000, #006d04);
  min-height: 100vh;
}

body {
  margin-left: auto;
  margin-right: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.alink {
  color: greenyellow;
  text-decoration: underline;
}

.alink:visited {
  color: darkseagreen;
}

code {
  background-color: black;
  color: greenyellow;
  border-radius: 5px;
  padding: 1px;
  border: 1px;
  border-color: white;
}

tr,
td,
th,
thead,
tbody,
table {
  padding: 5px;
  @apply border;
}

.spinning-element {
  transform-box: fill-box;
  transform-origin: center;
  /* Keep linear for the spin, or use ease-in-out for a 'weighty' coin feel */
  animation: flipAndPause 4s ease-in-out infinite;
}

@keyframes flipAndPause {
  0% {
    transform: rotateY(0deg);
  }

  /* The coin finishes its full 360-degree turn at 75% of the time */
  75% {
    transform: rotateY(360deg);
  }

  /* From 75% to 100%, the rotation stays at 360, creating the pause */
  100% {
    transform: rotateY(360deg);
  }
}

.menuSlideIn3 {
  transform: translateX(50px);
  opacity: 0;
}

.menuSlideIn3.start {
  animation: slidein3 0.3s ease-out forwards;
}

@keyframes slidein3 {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.menuSlidein2 {
  width: 0px;
  height: 0px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-out, width .3s ease-out, height .3s ease-out;
}

.menuSlidein2.start {
  margin-top: 3rem;
  padding: 1rem;
  width: auto;
  min-width: 150px;
  height: auto;
  pointer-events: all;
  opacity: 1;
}

.shimmer-element {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 6px;
  font-family: sans-serif;
  cursor: pointer;
}

.shimmer-element::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0) 100%);
  transform: skewX(-30deg);
  animation: slide-flash 4s infinite;
}

@keyframes slide-flash {
  0% {
    left: -100%;
  }

  60% {
    left: 200%;
  }

  100% {
    left: 200%;
  }
}
